<head>
  <link href="./css/navbar-default.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      VAPORU
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="store.html">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cart.html">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user-orders.html">Mis Compras</a>
        </li>
        <li class="nav-item">
          <a id="navCartButton" class="nav-link" href="#">
            Ver Carrito
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
